footer.footer.clearfix
	.footer-col-1
		.map#map
	.footer-col-2
		.contacts
			p 90802 California
			p Long beach
			p PO Box 68789
			p 300 East Ocean
			p Boulevard
			.phone
				p +64 9 345 6758
				p info@dsgn-studio.com
		.footer-logo
			img(src="assets/img/logo.png", alt="Logo")
			p Associates
			p Studio
			p Design
			.social-icons
				ul
					li
						a.social(href="#")
							i.fa.fa-facebook
					li
						a.social(href="#")
							i.fa.fa-twitter
					li
						a.social(href="#")
							i.fa.fa-linkedin
					li
						a.social(href="#")
							i.fa.fa-google-plus
		.copyright
			| &copy; 2014  DSGN. All rights reserved - Designed by theuncreativelab.com
