header.main-head
	.header-left
		.logo
			.logo-wrapper
				img(src="assets/img/logo.png", alt="Logo")
			.logo-text-wrapper
				p Associates
				p Studio
				p Design
		.social-icons
			ul
				li
					a(href="http://facebook.com")
						i.fa.fa-facebook
				li
					a(href="http://twitter.com")
						i.fa.fa-twitter
				li
					a(href="http://linkedin.com")
						i.fa.fa-linkedin
				li
					a(href="http://plus.google.com")
						i.fa.fa-google-plus
						
		.chear
			.chear-img-wrapper
				img(src="assets/img/chear.jpg", alt="chear")
						
	.header-right
		.text-top 
			p 90802 California
			p Long beach
			p PO Box 68789
			p 300 East Ocean 
			p Boulevard
		
		.diagonal
			svg(xmlns='http://www.w3.org/2000/svg', version='1.1', width='100%', height='100%')
				line(x1='100%', y1='0', x2='0', y2='100%', style='stroke: #cbe2da; stroke-width: 2')
				
		.text-bottom
			div
				a(href="tel:+64 9 345 6758") +64 9 345 6758
			div
				a(href="info@dsgn-studio.com") info@dsgn-studio.com
			
		button.toggle_mnu
			span.sandwich
				span.sw-topper
				span.sw-bottom
				span.sw-footer
		nav.top_mnu
			ul
				li
					a(href='#Home') Home
				li
					a(href='#Projects') Projects
				li
					a(href='#Studio') Studio
				li
					a(href='#News') News
				li
					a(href='#Contacts') Contacts
	
			