section.news
	.news-logo
		.diagonal
				svg(xmlns='http://www.w3.org/2000/svg', version='1.1',width='100%',height='100%')
					line(x1='100%', y1='0', x2='0', y2='100%', style='stroke: #fff; stroke-width: 2')
	
		h2 News
	.news-items
		.news-item.clearfix
			h3 Mauris et dui sed justo placerat tristique.
			p.date 11.07.2014
			img.mauris(src="assets/img/mauris.jpg", alt="Mauris")
			p.main Maecenas imperdiet nisi lorem, sed fermentum tortor pretium eget. Sed mollis lacus quis nunc cursus cursus. Quisque et magna sit amet sapien fermentum scelerisque eu id massa. Mauris ornare massa vel mauris tempus, vitae tempus urna tincidunt.
			a(href="#").read-more Read more
		
		.news-item.clearfix
			h3 Proin vehicula nibh massa
			p.date2 11.09.2014
			img.mauris(src="assets/img/proin.jpg", alt="Proin")
			p.main Praesent non mauris nec orci scelerisque faucibus. Nulla ac varius est. Aenean auctor nisl elit, nec sollicitudin lectus iaculis sed. Maecenas aliquam ligula vitae pharetra scelerisque.
 
			a(href="#").read-more Read more
		
			
