section.projects
	.projects-nav
		nav.nav
			ul
				li
					a(href="#") All
				li
					a.house(href="#") House
				li
					a.commercial(href="#") Commercial
				li
					a.personal(href="#") Personal
				li
					a.studio(href="#") Studio Lab
		
		.diagonal
			svg(xmlns='http://www.w3.org/2000/svg', version='1.1', width='100%', height='100%')
				line(x1='100%', y1='0', x2='0', y2='100%', style='stroke: #fff; stroke-width: 2')
				
	.text-bottom
		h2 Projects
		
	.fondue
			.prog-descr
				h3.h3 Fondue
				.div Project Assistant:  
					span Francesco Dompier
				.div  Material: 
					span Glass and Metal
				.div Typology: 
					span Suspension lamp
				.div Client: 
					span David Design
				.div Year: 
					span 2014
			
				a(href="") View project
				
				.like
					img(src="assets/img/heart.png", alt="heart") 
					.score + 200
				
			.lamp
				img(src="assets/img/lamp.jpg", alt="Lamp")
		
	.potter
			.prog-descr
				h3.h3 Potter
				.up #[span For] stelton
				div Potter focuses on the functional-
				div ity and process of preparing tea.
				div a big sieve allows the flavor of 
				div to evenly brewed. 
				
				a(href="") View project
				
				.like
					img(src="assets/img/heart.png", alt="heart") 
					.score + 200
					
			.potter-img
				img(src="assets/img/potter.jpg", alt="Potter")
				
	.tabano
		.prog-descr
			h3.h3 Tabano
			div DESIGNER: 
				span PATRICIA URQUIOLA
			div Typology: 
				span Armchairs
			div Client: 
				span B&B ITALIA
			div Year: 
				span 2014
					
			a(href="") View project
				
			.like
				img(src="assets/img/heart.png", alt="heart") 
				.score + 200
		.tabano-img
			img(src="assets/img/tabano.jpg", alt="Tabano")
				
				
	.louis
		.prog-descr
			h3.h3 Louis XX                          
			div DESIGNER: 
				span philippe starck
			div Typology: 
				span chairs
			div Client: 
				span vitra
			div Year: 
				span 2012
					
			a(href="") View project
				
			.like
				img(src="assets/img/heart-white.png", alt="heart-white") 
				.score + 200
		.louis-img
			img(src="assets/img/louisxx.png", alt="Louis XX")
				
				
	.payhic		
		.prog-descr
			h3.h3 395-396 P22                         
			div DESIGNER: 
				span Patrick Norguet
			div Typology: 
				span ARMchairs
			div Client: 
				span Cassina
			div Year: 
				span 2013
					
		a(href="") View project
				
		.like
			img(src="assets/img/heart.png", alt="heart") 
			.score + 200
				
		.payhic-img
			img(src="assets/img/payhic.png", alt="payhic")
				
	.fiji		
		.prog-descr
			h3.h3 Fiji                        
			div DESIGNER: 
				span Cuno Frommherz
			div Typology: 
				span armchairs
			div Year: 
				span 2012
					
			a(href="") View project

			.like
				img(src="assets/img/heart.png", alt="heart") 
				.score + 200
				
		.fiji-img
			img(src="assets/img/fiji.jpg", alt="fiji")
			
	.sesann
		.prog-descr
			h3.h3 Sesann                         
			div DESIGNER: 
				span Gianfranco Frattini
			div Typology: 
				span armchairs
			div Client: 
				span Cassina
			div Year: 
				span 1970
					
		a(href="") View project
				
		.like
			img(src="assets/img/heart.png", alt="heart") 
			.score + 200
				
		.sesann-img
			img(src="assets/img/sesann.jpg", alt="sesann")		
			
	.alessi
		.prog-descr
			h3.h3 Alessi                       
			div DESIGNER: 
				span Piero Lissoni
			div Client: 
				span Alessi
			div Year: 
				span 2013
					
			a(href="") View project

			.like
				img(src="assets/img/heart.png", alt="heart") 
				.score + 200
				
		.alessi-img
			img(src="assets/img/alessi.png", alt="Alessi")
					
		
			
